/* Section */
main.container {
  width: calc(100% - 15rem);
  height: calc(100svh - 5rem);
  background-color: var(--lightgray);
  overflow: hidden;
}

main.container .section__wrapper {
  padding: 2em 5em;
  width: 100%;
  height: auto;
  min-height: 100svh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

section.section__wrapper .section__wrapper__body {
  background-color: var(--white);
}
