{% load static %}
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">

<aside id="navbar">
    <ul class="navbar__wrapper">
        <li class="navbar__menu">
            <a href="/user">
                <img src="{% static 'icons/user.svg' %}" alt="user icon" />
                User
            </a>
        </li>
        <li class="navbar__menu">
            <a href="/">
                <img src="{% static 'icons/product.svg' %}" alt="product icon" />
                Product
            </a>
        </li>
        <li class="navbar__menu">
            <a href="/">
                <img src="{% static 'icons/order.svg' %}" alt="order icon" />
                Order
            </a>
        </li>
        <li class="navbar__menu">
            <a href="/">
                <img src="{% static 'icons/stock.svg' %}" alt="stock icon" />
                Stock
            </a>
        </li>
    </ul>
</aside>